.single-product{
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.left-side{
    width: 50%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side{
    width: 50%;
}

/* IMAGES GALERY SINGLE PRODUCT */
.galeryContainer{
    /* display: flex; */
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
}
.center{
    position: relative;
    width: 770px;
    left: -70px;
    perspective: 1200px;

}

.center .img-card{
    position: relative;
    height: 350px;
    width: 400px;
    transform-style: preserve-3d;
    transition: transform .5s ease-in;
}

.img-card img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img-card img:nth-child(1) {
    transform: rotateX(-270deg) translateY(-175px);
    transform-origin: top left;
}

.img-card img:nth-child(2) {
    transform: translateZ(175px);
}

.img-card img:nth-child(3) {
    transform: rotateX(-90deg) translateY(175px);
    transform-origin: bottom center;
}

.img-card img:nth-child(4) {
    transform: rotateX(-180deg) translateY(350px) translateZ(175px);
    transform-origin: bottom right;
}

#tab-1:checked ~ .img-card{
    transform: rotateX(-90deg);
}
#tab-2:checked ~ .img-card{
    transform: rotateX(0deg);
}

#tab-3:checked ~ .img-card{
    transform: rotateX(90deg);
}
#tab-4:checked ~ .img-card{
    transform: rotateX(180deg);
}
.slider-galery{
    position: absolute;
    display: block;
    right: 0;
    top: -30px;
}

.slider-galery label {
    height: 98px;
    width: 110px;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    margin: 6px 0;
    border: 2px solid #2d4052;
}
.slider-galery label:nth-child(1){
    margin-top: 0;
}

label img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(1);
    opacity: .9;
}

label img:hover,
#tab-1:checked ~ .slider-galery label:nth-child(1) img,
#tab-2:checked ~ .slider-galery label:nth-child(2) img,
#tab-3:checked ~ .slider-galery label:nth-child(3) img,
#tab-4:checked ~ .slider-galery label:nth-child(4) img{
    filter: grayscale(0);
    opacity: 1;
}
input {
    display: none;
}

/* Product Description */
.single-product__container{
    width: 100%;
}

.single-product__title{
    margin-top: 50px;
}

.short-description{
    text-align: center;
    margin-top: 30px;
}

.single-product__choose{
    display: flex;
    justify-content: space-evenly;
}

.select-talle{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}

.select-color{
    width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 5px;
}